<br><br>
<footer class="footer">
    <p id="footer-info">CST336:Internet Programing - Mariana Duran 2025</p><br>
    <img src="/images/csumb_logo.png" alt="CSUMB Logo" width="5%" length="5%">
</footer>