<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar System</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body style="background-image: url('<%= random %>')">
    <div class="content">
        <h1>Solar System</h1><br><br>

        <%- include('partials/nav-bar.ejs')%>

        <br><br>
        <form action="/selectSpaceObject">
            <select name="object">
                <option value="Comets">Comets</option>
                <option value="Meteorites">Meteorites</option>
            </select>
             <button>Get Info</button>
        </form><br><br>

        <img src="/images/solar-system.avif" alt="Solar System" width="50%" length="50%">


        <%- include('partials/footer.ejs')%>
    </div>


   
    
</body>
</html>