<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uranus</title>
    <link rel="stylesheet" href="/spaceObject.css">
</head>
<body>
    <h1>Uranus</h1><br><br>

    <%- include('partials/nav-bar.ejs')%>
    <br><br>
    <img src="<%=uranus.image%>" alt="uranus" width="50%" length="50%">
    <p id="info"><%=uranus.description%></p>
    <%- include('partials/footer.ejs')%>

</body>
</html>